@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@112.5,500&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Poppins", sans-serif;
}

/* Footer */
.Footer{
    height: 100%;
    margin-top: 100px;
}

/* Product */
.product_data{
    margin-top: 120px;
}


/* Login Form */

.form {
    width: 30%;
    margin: 52px auto;
}

.login-btn{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
}